<%
  time_stamp = Time.now
  kiosk_name = @kiosk.name
  Visit.create(time_stamp: time_stamp, topic_id: Topic.find_or_create_by(location: @topic, host: Host.find_or_create_by(name: "82.70.248.237")).id, kiosk_id: @kiosk.id, checksum: Digest::MD5.hexdigest("#{time_stamp}|#{kiosk_name}"))
%>

<% @advice_pages.order(:id).each do |page|%>
  <%if page.kiosks.include? @kiosk and page.telephone == "" %>
    <div class="col-xs-4">
      <%= link_to "#{@topic}/#{page.id}", :class => 'col-xs-12 topic-button no-telephone-topic' do %>
        <h1><%=page.organisation%></h1>
        <h3><%=page.details%></h3>
      <%end%>
    </div>
  <%elsif page.kiosks.include? @kiosk %>
    <div class="col-xs-4">
      <%= link_to "#{@topic}/#{page.id}", :class => 'col-xs-12 topic-button telephone-topic' do %>
        <h1><%=page.organisation%></h1>
        <h3><%=page.details%></h3>
      <%end%>
        <%if @kiosk.jurisdiction.telephone == true %>
          <%= link_to "sip:#{page.telephone}@#{@kiosk.jurisdiction.pbx_server}", :class => "col-xs-10 col-xs-offset-1 topic-button telephone-button", :id => "#{page.telephone}", :onclick => "calling('#{page.telephone}')" do %>
            <h3><i class="glyphicon glyphicon-phone-alt"></i>   <%=page.telephone%></h3>
          <%end%>
          <%= link_to "killsip:#{page.telephone}@#{@kiosk.jurisdiction.pbx_server}", :class => "col-xs-10 col-xs-offset-1 topic-button telephone-button calling-indicator", :style => "display: none;", :id => "#{page.telephone}calling", :onclick => "endCall('#{page.telephone}')" do %>
            <h3>End Call</h3>
          <%end%>
      <%end%>
    </div>
  <%end%>
<%end%>

<script>
  function calling(id) {
    $('#'+id).hide();
    $('#'+id+'calling').show();
  };
  function endCall(id) {
    $('#'+id).show();
    $('#'+id+'calling').hide();
  };
</script>
