<% @advice_pages.each do |page|%>
  <%if page.kiosks.include? @kiosk_id.to_s and page.telephone == "" %>
    <div class="col-xs-3">
      <%= link_to page.url, :class => 'col-xs-12 topic-button' do %>
        <h1><%=page.organisation%></h1>
        <h3><%=page.details%></h3>
      <%end%>
    </div>
  <%elsif page.kiosks.include? @kiosk_id.to_s%>
    <div class="col-xs-3">
      <%= link_to page.url, :class => 'col-xs-12 topic-button telephone-topic' do %>
        <h1><%=page.organisation%></h1>
        <h3><%=page.details%></h3>
      <%end%>
      <%= link_to "sip://#{page.telephone}", :class => "col-xs-12 topic-button telephone-button" do %>
        <h3><i class="glyphicon glyphicon-phone-alt"></i>  <%=page.telephone%></h3>
      <%end%>
    </div>
  <%end%>
<%end%>
