<%
  time_stamp = Time.now
  kiosk_name = @kiosk.name
  last_visit = Visit.last
  unless last_visit.topic.location == "home" #Kill duplicates due to Firefox refreshes
    Visit.create(time_stamp: time_stamp, topic_id: Topic.find_or_create_by(location: "home", host: Host.find_or_create_by(name: "82.70.248.237")).id, kiosk_id: @kiosk.id, checksum: Digest::MD5.hexdigest("#{time_stamp}|#{kiosk_name}"))
  end
%>
<% if notice != nil %>
  <div class="ui positive message">
    <h1 class="notice"><%= notice %></h1>
  </div>
<% end %>
<% if alert != nil %>
  <div class="ui negative message">
    <h1 class="alert"><%= alert %></h1>
  </div>
<% end %>

<% @kiosk_topics.each do |kiosk_topic| %>
  <%unless kiosk_topic.name == "local_organisations"%> <!--Remove this once that topic and topic members have been purged from the database.-->
    <div class="col-xs-3">
      <%= link_to "#{@kiosk.name}/#{kiosk_topic.name}", :class => 'col-xs-12 topic-button' do %>
        <h1><%=kiosk_topic.label%></h1>
        <h3><%=kiosk_topic.description%></h3>
      <%end%>
    </div>
  <%end%>
<%end%>

<div class="col-xs-3">
  <%= link_to "#{@kiosk.name}/feedback", :class => 'col-xs-12 topic-button' do %>
    <h1>Help Us Out</h1>
    <h3>Leave feedback for our service</h3>
  <%end%>
</div>
