<%
  time_stamp = Time.now
  kiosk_name = @kiosk.name
  last_visit = Visit.last
  unless last_visit.topic.location == "home" #Kill duplicates due to Firefox refreshes
    Visit.create(time_stamp: time_stamp, topic_id: Topic.find_or_create_by(location: "home", host: Host.find_or_create_by(name: "82.70.248.237")).id, kiosk_id: @kiosk.id, checksum: Digest::MD5.hexdigest("#{time_stamp}|#{kiosk_name}"))
  end
%>
<% if notice != nil %>
  <div class="ui positive message">
    <h1 class="notice"><%= notice %></h1>
  </div>
<% end %>
<% if alert != nil %>
  <div class="ui negative message">
    <h1 class="alert"><%= alert %></h1>
  </div>
<% end %>

<% @jurisdiction.kiosk_topics.each do |kiosk_topic| %>
  <div class="col-xs-3">
    <%= link_to "#{@kiosk.name}/#{kiosk_topic.name}", :class => 'col-xs-12 topic-button' do %>
      <h1><%= t "topics.#{kiosk_topic.name}.label", default: kiosk_topic.name.capitalize%></h1>
      <h3><%= t "topics.#{kiosk_topic.name}.description", default: kiosk_topic.description%></h3>
    <%end%>
  </div>
<%end%>

<div class="col-xs-3">
  <%= link_to "#{@kiosk.name}/feedback", :class => 'col-xs-12 topic-button' do %>
    <h1><%= t :help_us_out, default: "Help Us Out" %></h1>
    <h3><%= t :leave_feedback, default: "Leave Feedback About Our Service" %></h3>
  <%end%>
</div>
