<div class="col-xs-12" id="calderdale-header">

</div>
<div class="col-xs-6" id="calderdale-btn-internal">
  <%= link_to "http://www.mawcalderdale.org.uk/", :class => 'col-xs-12 topic-button' do %>
    <h1><%= t "custom.calderdale.internal.title"%></h1>
    <h3><%= t "custom.calderdale.internal.subtitle"%></h3>
  <%end%>
</div>
<div class="col-xs-6" id="calderdale-btn-external">
  <%= link_to "https://www.citizensadvice.org.uk/", :class => 'col-xs-12 topic-button' do %>
    <h1><%= t "custom.calderdale.external.title"%></h1>
    <h3><%= t "custom.calderdale.external.subtitle"%></h3>
  <%end%>
</div>
