<%
  time_stamp = Time.now
  kiosk_name = @kiosk.name
  last_visit = Visit.last
  unless last_visit.topic.location == "home" #Kill duplicates due to Firefox refreshes
    Visit.create(time_stamp: time_stamp, topic_id: Topic.find_or_create_by(location: "home", host: Host.find_or_create_by(name: "82.70.248.237")).id, kiosk_id: @kiosk.id, checksum: Digest::MD5.hexdigest("#{time_stamp}|#{kiosk_name}"))
  end
%>

<div class="col-xs-6" id="calderdale-btn-internal">
  <%= link_to "landing_page/96", :class => 'col-xs-12 topic-button' do %>
    <h1><%= t "organisations.#{orgname}.name"%></h1>
    <h3><%= t "organisations.#{orgname}.landingpage"%></h3>
  <%end%>
</div>
<div class="col-xs-6" id="calderdale-btn-external">
  <%= link_to "landing_page/95", :class => 'col-xs-12 topic-button' do %>
    <h1><%= t "organisations.#{orgname}.name"%></h1>
    <h3><%= t "organisations.#{orgname}.landingpage"%></h3>
  <%end%>
</div>
