<%= form_for(jurisdiction) do |f| %>
  <% if jurisdiction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jurisdiction.errors.count, "error") %> prohibited this jurisdiction from being saved:</h2>

      <ul>
      <% jurisdiction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui segment">
    <%= f.label :name, :value => "Name. All lowercase, no spaces or punctuation"%>
    <div class="ui large input">
      <%= f.text_field :name, placeholder: "(e.g. 'waverley')" %>
    </div><br />
    <%= f.label :telephone, :value => "Does this jurisdiction have telephone access?"%>
    <div class="ui large input">
      <%= f.radio_button :telephone, true %><br /><br />
      <%= f.radio_button :telephone, false, :checked => true %>
    </div><br />
    <%= f.label :pbx_server, :value => "PBX IP Address" %>
    <div class="ui large input">
      <%= f.text_field :pbx_server, :value => "10.33.28.250"  %>
    </div><br />

    <div class="actions modal-actions">
      <%= f.submit "Save Page", class: "ui green large button pull-right"%>
      <%= f.submit "Cancel", class: "ui red large button pull-right"%>
    </div>

  </div>
<% end %>
