<h1 class="title-line">Jurisdictions</h1>
<div class="ui stackable three column grid">
  <%@jurisdictions.order(:name).each do |jurisdiction|%>
  <% @a = "<div class='column' id='#{jurisdiction.name}'>"%>
  <%= @a.html_safe%>
    <h2><%=jurisdiction.name.capitalize%></h2>
    <div class="ui styled fluid accordion">
      <%@kiosks.order(:id).each do |kiosk|%>
        <%if kiosk.jurisdiction == jurisdiction%>
          <div class="title">
            <i class="dropdown icon"></i><%=kiosk.name.capitalize%>
          </div>
          <div class="content">
            <div class="transition hidden">
              <p><strong>Address:</strong> <%=kiosk.address%></p>
              <p><strong>Contact:</strong> <%=kiosk.contact%></p>
              <%if current_user.admin?%>
              <!--Evil hack for creating a billion different modals and still accessing them all reliably: -->
              <% @w = "<a class='ui primary button' onclick='modaleditkiosk(#{kiosk.id})'>Edit</a>"%>
              <%= @w.html_safe%>
              <% @x = "<div class='ui modal advice-modal' id='editkioskmodal#{kiosk.id}'>"%>
              <%= @x.html_safe%>
                <h1> Edit Kiosk</h1>
                <%= render 'kiosk_form', kiosk: kiosk %>
              </div>
              <%= link_to 'Remove', kiosk, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red button' %>
              <%end%>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
    <p></p>
    <%if current_user.admin? %>
    <!--And again...-->
      <% @y = "<a class='ui primary button pull-right' onclick='modalnewkiosk(#{jurisdiction.id})'>New Kiosk</a>"%>
      <%=@y.html_safe%>
      <% @z = "<div class='ui modal advice-modal' id='newkioskmodal#{jurisdiction.id}'>"%>
      <%=@z.html_safe%>
        <h1>  Create New Kiosk</h1>
        <%= render 'kiosk_form', kiosk: Kiosk.new(jurisdiction_id: jurisdiction.id)%>
      </div>
      <%else%>
      <button class="ui disabled button pull-right">
        Category Full
      </button>
    <%end%>
  </div>
  <%if current_user.admin? %>
    [[NEW JURISDICTION LOGIC]]
  <%end%>
  <%end%>
</div>

<script>
$(document).ready(function() {
  $('#kiosk_admin_breadcrumb').addClass('active');
});
$('.ui.accordion')
  .accordion()
;
function modalnewkiosk(m) {
  $('#newkioskmodal'+m).modal('show');
};
function modaleditkiosk(n) {
  $('#editkioskmodal'+n).modal('show');
};
function closemodal() {
  $('.modal').modal('hide');
};
</script>
