<h1>Kiosk Logger</h1>


<h2 style="text-align: center;">Overall System Statistics</h2>
<h4 style="text-align: center;">These data are not strictly comparable across kiosks due to differing durations of deployment.<br/> The dates at which data collection began are indicated on the individual kiosk log pages.</h4>

<div class="ui stackable doubling two column grid">

  <div class="column">
    <h3 style="text-align: center;">Users Overall</h3>

    <%kiosk_users = {}
    @allowed_kiosks.each do |kiosk|
      kiosk_users["#{kiosk.name}"] = 0
      visits = kiosk.visits.order("time_stamp")
      last_time = Time.zone.parse('2016-01-01 00:00:01')
      visits.each do |visit|
        if visit.time_stamp > last_time + 5.minutes
          kiosk_users["#{kiosk.name}"] += 1
          last_time = visit.time_stamp
        end
      end
    end%>
    <%= content_tag :h1, :style => "text-align: center;", :class => 'counter', :datastop => kiosk_users.values.inject(&:+) do %>
      <%=kiosk_users.values.inject(&:+) || 0%>
    <% end %>

    <%= column_chart kiosk_users.sort_by{ |k, v| k }.to_h, height: "500px"%>
  </div>

  <div class="column">
    <h3 style="text-align: center;">Total Pageviews Overall</h3>
    <%= content_tag :h1, :style => "text-align: center;", :class => 'counter', :datastop => @visits.count do %>
      <%=@visits.count%>
    <% end %>
    <%kiosk_pageviews = {}
    @allowed_kiosks.each do |kiosk|
      kiosk_pageviews["#{kiosk.name}"] = kiosk.visits.count
    end
    %>
    <%= column_chart kiosk_pageviews.sort_by{ |k, v| k }.to_h, height: "500px"%>
  </div>

  <div class="column">
    <h3>Feedback</h3>
    <%= column_chart @feedback_hash%>
  </div>

</div>


<script>
$(document).ready(function() {
  $('#home_breadcrumb').addClass('active');
});
$('.counter').each(function () {
  var $this = $(this);
  jQuery({ Counter: 0 }).animate({ Counter: $this.attr('datastop') }, {
    duration: 1000,
    easing: 'swing',
    step: function (now) {
      $this.text(Math.ceil(now));
    }
  });
});
</script>
