<h1 class="title-line"><%= t "kiosks.#{@kiosk.name}"%> <% if @kiosk.visits.first != nil %>- Data begins <%= @kiosk.visits.first.created_at.strftime("%d %B, %Y") %> <%end%></h1>

<div>

  <div class="column" style="width: 100%; height: 465px;">
    <h3>Kiosk Topic Access Frequency</h3>
    <%topic_array = {} %>
    <%@topics.each do |topic|
      if topic.location != "Feedback" and ["82.70.248.237", "logserver.3rdsectorit.co.uk"].include? topic.host.name
        topic_array["#{topic.location.split("_")[0].capitalize}"] = @kiosk.visits.where(topic: topic).count %>
      <%end
    end%>
    <%= pie_chart(topic_array.except("Home"), {"library": {"height": "300", "width": "550"}})%>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 465px;">
    <h3>External Page Access Frequency</h3>
    <% @topic_visits %>
    <%= pie_chart(@topic_visits.except("home", "landing_page"), {"library": {"height": "300", "width": "550"}})%>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 465px;">
    <h3>External Visits, by Organisation:</h3>
    <% visit_array = {} %>
    <%@hosts.each do |host|
      if host.visits.where(kiosk: @kiosk).count > 0 && host.name != "82.70.248.237"
        visit_array[host.name] = host.visits.where(kiosk: @kiosk).count
      end%>
    <%end%>
    <%= pie_chart(visit_array.except("logserver.3rdsectorit.co.uk"), {"library": {"height": "300", "width": "550"}})%>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 465px;">
    <h3>All Clicks, by hour of day:</h3>
    <%= column_chart @kiosk.visits.group_by_hour_of_day(:time_stamp).count , {"library": {"height": "300", "width": "550"}}%>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 465px;">
    <h3>Pageview History (Day by Day):</h3>
    <%= column_chart @kiosk.visits.group_by_day(:time_stamp, format: "%B %d, %Y").count, {"library": {"height": "300", "width": "550"}} %>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 465px;">
    <h3>Pageview History (Weekly):</h3>
    <%= column_chart @kiosk.visits.group_by_week(:time_stamp, format: "Week %U, %Y").count, {"library": {"height": "300", "width": "550"}} %>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 465px;">
    <h3>Pageview History (Monthly):</h3>
    <%= column_chart @kiosk.visits.group_by_month(:time_stamp, format: "%B %Y").count, {"library": {"height": "300", "width": "550"}} %>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 465px;">
    <h3>Pageview History (Cumulative):</h3>
    <% sum = 0 %>
    <%= area_chart @kiosk.visits.group_by_day(:time_stamp).count.to_a.sort{|x,y| x[0] <=> y[0]}.map { |x,y| { x => (sum += y)} }.reduce({}, :merge), {"library": {"height": "300", "width": "550"}}%>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 465px;">
    <h3>Feedback</h3>
    <%= column_chart @feedback_hash, {"library": {"height": "300", "width": "550"}}%>
  </div>

  <div class="column" style="width: 100%; height: 465px;">
    <h3>Raw Data:</h3>
    <%
    last_time = Time.zone.parse('2016-01-01 00:00:01')
    kiosk_users = 0
    @kiosk.visits.each do |visit|
      if visit.time_stamp > last_time + 5.minutes
        kiosk_users += 1
        last_time = visit.time_stamp
      end
    end%>
    <h5>Total Users: <%=kiosk_users%></h5>
    <h5>Total Visits: <%=@kiosk.visits.count%></h5>
    <h5>Time Operating: <%=(Date.current - @kiosk.visits.first.created_at.to_date).to_i%> days</h5>
  </div>


</div>
