<h1 class="title-line"><%=@kiosk.name.upcase%></h1>
<div class="ui stackable doubling two column grid">

  <div class="column">
    <h3>External Visits, by Organisation:</h3>
    <% visit_array = {} %>
    <%@hosts.each do |host|
      if host.visits.where(kiosk: @kiosk).count > 0 && host.name != "82.70.248.237"
        visit_array["#{host.name}"] = host.visits.where(kiosk: @kiosk).count
      end%>
    <%end%>
    <%= pie_chart visit_array.except("logserver.3rdsectorit.co.uk")%>
  </div>

  <div class="column">
    <h3>All Clicks, by hour of day:</h3>
    <%= column_chart @kiosk.visits.group_by_hour_of_day(:time_stamp).count %>
  </div>

  <div class="column">
    <h3>Kiosk Topic Access Frequency</h3>
    <%topic_array = {} %>
    <%@topics.each do |topic|
      if topic.location != "Feedback" and ["82.70.248.237", "logserver.3rdsectorit.co.uk"].include? topic.host.name
        topic_array["#{topic.location.split("_")[0].capitalize}"] = @kiosk.visits.where(topic: topic).count %>
      <%end
    end%>
    <%= pie_chart topic_array.except("Home")%>
  </div>

  <div class="column">
    <h3>External Topic Access Frequency</h3>
    <% topic_visits = {} %>
    <%@visits.each do |visit|
      unless ["82.70.248.237", "logserver.3rdsectorit.co.uk"].include? visit.host.name
        location = visit.topic.location
        if topic_visits[location]
          topic_visits[location] += 1
        else
          topic_visits[location] = 1
        end
      end
    end%>
    <% topic_visits %>
    <%= pie_chart topic_visits.except("home")%>
  </div>

  <div class="column">
    <h3>Pageview History (Day by Day):</h3>
    <%= scatter_chart @kiosk.visits.group_by_day(:created_at).count %>
  </div>

  <div class="column">
    <h3>Pageview History (Cumulative):</h3>
    <% sum = 0 %>
    <%= line_chart @kiosk.visits.group_by_day(:created_at).count.to_a.sort{|x,y| x[0] <=> y[0]}.map { |x,y| { x => (sum += y)} }.reduce({}, :merge)%>
  </div>

  <div class="column">
    <h3>Feedback</h3>
    <%= column_chart @feedback_hash%>
  </div>



</div>

<script>
$(document).ready(function() {
  $('#logs_breadcrumb').addClass('active');
});
</script>
