<h1 class="title-line"><%= t "kiosks.#{@kiosk.name}"%> <% if @kiosk.visits.first != nil %>- Data begins <%= @month_visits.first.created_at.strftime("%d %B, %Y") %> <%end%></h1>

<div>

  <div class="column" style="width: 100%; height: 450px;">
    <h3>Kiosk Topic Access Frequency</h3>
    <%= pie_chart(kiosk_topic_access_frequency_pdf_charts_path, {"library": {"height": "350", "width": "650"}})%>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 450px;">
    <h3>External Page Access Frequency</h3>
    <%= pie_chart(external_page_access_frequency_pdf_charts_path, {"library": {"height": "350", "width": "650"}})%>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 450px;">
    <h3>External Visits, by Organisation:</h3>
    <%= pie_chart(external_visits_by_organisation_pdf_charts_path, {"library": {"height": "350", "width": "650"}})%>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 450px;">
    <h3>All Clicks, by hour of day:</h3>
    <%= column_chart(all_clicks_by_hour_of_day_pdf_charts_path, {"library": {"height": "350", "width": "650"}})%>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 450px;">
    <h3>Pageview History (Day by Day):</h3>
    <%= column_chart(pageview_history_by_day_pdf_charts_path, {"library": {"height": "350", "width": "650"}}) %>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 450px;">
    <h3>Pageview History (Weekly):</h3>
    <%= column_chart(pageview_history_by_week_pdf_charts_path, {"library": {"height": "350", "width": "650"}}) %>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 450px;">
    <h3>Pageview History (Cumulative):</h3>
    <%= area_chart(pageview_history_cumulative_pdf_charts_path, {"library": {"height": "350", "width": "650"}})%>
  </div>
  <br/>
  <br/>

  <div class="column" style="width: 100%; height: 450px;">
    <h3>Feedback</h3>
    <%= column_chart(feedback_pdf_charts_path, {"library": {"height": "350", "width": "650"}})%>
  </div>

  <div class="column" style="width: 100%; height: 450px;">
    <h3>Raw Data:</h3>
    <%
    last_time = Time.zone.parse('2016-01-01 00:00:01')
    kiosk_users = 0
    @month_visits.each do |visit|
      if visit.time_stamp > last_time + 5.minutes
        kiosk_users += 1
        last_time = visit.time_stamp
      end
    end%>
    <h5>Total Users This Month: <%=kiosk_users%></h5>
    <h5>Total Visits This Month: <%=@month_visits.count%></h5>
  </div>


</div>
