<h1 class="title-line">Kiosk Status</h1>
<div class="ui stackable four column grid">
  <% @allowed_kiosks.order(:name).each do |kiosk| %>
    <div class="column report-panel">
      <h2><%=kiosk.name.upcase%></h2>
        <p><strong>Address:</strong></p>
        <p><%=kiosk.address%></p>
        <p><strong>Contact:</strong></p>
        <p><%=kiosk.contact%></p>
      <h3>Last Status Update:</h3>
      <% if kiosk.heartbeats.last%>
        <p><%=kiosk.heartbeats.last.created_at%></p>
        <% if kiosk.heartbeats.last.created_at > 15.minutes.ago%>
          <h4 class="greentext"><strong>Connected</strong></h4>
        <%else%>
          <h4 class="redtext"><strong>Disconnected</strong></h4>
        <%end%>
      <%else%>
        <h4 class="redtext"><strong>Kiosk Not Initialised</strong></h4>
      <%end%>

      <% if File.file?("app/assets/kiosk_logs/#{kiosk.name}.log")%>
        <h3>Last Data Update:</h3>
        <p><%=File.ctime("app/assets/kiosk_logs/#{kiosk.name}.log")%></p>
      <%end%>

    </div>
  <%end%>
</div>
<script>
$(document).ready(function() {
  $('#status_breadcrumb').addClass('active');
});
</script>
