<h1 class="title-line">Kiosk Status</h1>
<div class="ui stackable four column grid">
  <% @allowed_kiosks.order(:name).each do |kiosk| %>
    <%
    if kiosk.heartbeats.last
      kiosk_initialised = true
      if kiosk.heartbeats.last.created_at > 15.minutes.ago
        kiosk_connected = true
      end
    end
    if kiosk.visits.last and kiosk.visits.last.created_at > 10.minutes.ago
        kiosk_in_use = true
    end
    %>
    <div class="column report-panel">
        <h2><%= link_to (t "kiosks.#{kiosk.name}"), "/vncpanel?host=#{kiosk.ip_address}&port=5900&password=x11vnc" %></h2>
        <p><strong>Address:</strong></p>
        <p><%=kiosk.address%></p>
        <p><strong>Contact:</strong></p>
        <p><%=kiosk.contact%></p>
      <h3>Last Status Update:</h3>
      <% if kiosk_initialised%>
        <p><%=kiosk.heartbeats.last.created_at%></p>
        <% if kiosk_connected or kiosk_in_use %>
          <h4 class="greentext"><strong>Connected</strong></h4>
        <%else%>
          <h4 class="redtext"><strong>Disconnected</strong></h4>
        <%end%>
      <%else%>
        <h4 class="redtext"><strong>Kiosk Not Initialised</strong></h4>
      <%end%>

      <% if File.file?("app/assets/kiosk_logs/#{kiosk.name}.log")%>
        <h3>Last Data Update:</h3>
        <p><%=File.ctime("app/assets/kiosk_logs/#{kiosk.name}.log")%></p>
      <%end%>

    </div>
  <%end%>
</div>
<script>
$(document).ready(function() {
  $('#status_breadcrumb').addClass('active');
});
</script>
