<h1 class="title-line">Kiosk Pages</h1>
<div class="ui stackable two column grid">
  <%@kiosk_topics.each do |topic|%>
  <div class="column">
    <h2><%=topic.label%></h2>
    <div class="ui styled fluid accordion">
      <%@pages.each do |page|%>
        <%if page.topic == topic.name%>
          <div class="title">
            <i class="dropdown icon"></i><%=page.organisation%>
          </div>
          <div class="content">
            <div class="transition hidden">
              <p><strong>Info:</strong> <%=page.details%></p>
              <p><strong>URL:</strong> <%=link_to page.url%></p>
              <p><strong>Tel:</strong> <%=page.telephone%></p>
              <a href="" class="ui primary button">Edit</a>
              <a href="" class="ui red button">Remove</a>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
    <p></p>
    <a class="ui primary button pull-right" onclick="modalnewpage()">New <%=topic.label%> Page</a>

  </div>
  <%end%>
</div>

<div class="ui modal">
  <%= form_for @newpage, url: {action: "create"}do |f| %>
    organisation: <%= f.text_field :organisation%><br />
    URL: <%= f.text_field :url %><br />
    Telephone: <%= f.text_field :telephone %><br />
    Details: <%= f.text_area :details %><br />
    Topic: <%= f.check_box :topic %><br />
    <%= f.submit "Create" %>
  <% end %>
</div>



<script>
$(document).ready(function() {
  $('#advice_pages_breadcrumb').addClass('active');
});
$('.ui.accordion')
  .accordion()
;
function modalnewpage() {
  $('.ui.modal').modal('show');
};
</script>
