<h1 class="title-line">Kiosk Pages</h1>
<div class="ui stackable three column grid">
  <%@kiosk_topics.order(:name).each do |topic|%>
  <% @a = "<div class='column' id='#{topic.name}'>"%>
  <%= @a.html_safe%>
    <h2><%=topic.name.capitalize%></h2>
    <div class="ui styled fluid accordion">
      <%@pages.order(:id).each do |page|%>
        <%if page.topic == topic.name%>
          <div class="title">
            <i class="dropdown icon"></i><%=page.organisation%>
          </div>
          <div class="content">
            <div class="transition hidden">
              <% orgname = page.organisation.downcase.gsub(" ","").gsub("'","").gsub(".","").gsub("&","")%>
              <p><strong>Info:</strong> <%=t "organisations.#{orgname}.#{topic.name}"%></p>
              <p><strong>URL:</strong> <%=link_to page.url, page.url%></p>
              <p><strong>Tel:</strong> <%=page.telephone%></p>
              <p><strong>Kiosks:</strong></p>
              <ul>
                <%page.kiosks.each do |kiosk|%>
                  <%if @allowed_kiosks.include? kiosk%>
                    <li><%=kiosk.name.capitalize%></li>
                  <%end%>
                <%end%>
              </ul>
              <%if current_user.admin?%>
              <!--Evil hack for creating a billion different modals and still accessing them all reliably: -->
              <% @w = "<a class='ui primary button' onclick='modaleditpage(#{page.id})'>Edit</a>"%>
              <%= @w.html_safe%>
              <% @x = "<div class='ui modal advice-modal' id='editpagemodal#{page.id}'>"%>
              <%= @x.html_safe%>
                <br />
                <h1 style="padding-left: 1em;">Edit <%= topic.name.capitalize%> Page</h1>
                <%= render 'form', advice_page: page %>
              </div>
              <%= link_to 'Remove', page, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red button' %>
              <%end%>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
    <p></p>
    <%if current_user.admin? && @pages.where(topic: topic.name).count < 12 %>
    <!--And again...-->
      <% @y = "<a class='ui primary button pull-right' onclick='modalnewpage(#{topic.id})'>New #{topic.name.capitalize} Page</a>"%>
      <%=@y.html_safe%>
      <% @z = "<div class='ui modal advice-modal' id='newpagemodal#{topic.id}'>"%>
      <%=@z.html_safe%>
        <br />
        <h1 style="padding-left: 1em;">Create <%= topic.name.capitalize%> Page</h1>
        <%= render 'form', advice_page: AdvicePage.new(topic: topic.name)%>
      </div>
      <%else%>
      <button class="ui disabled button pull-right">
        Category Full
      </button>
    <%end%>
  </div>
  <%end%>
</div>

<script>
$(document).on('page:load', readyScripts);
function readyScripts() {
  $('#advice_pages_breadcrumb').addClass('active');
  $('.ui.accordion').accordion();
  $('.ui.checkbox').checkbox();
};

function modalnewpage(m) {
  $('#newpagemodal'+m).modal('show');
};
function modaleditpage(n) {
  $('#editpagemodal'+n).modal('show');
};
function closemodal() {
  $('.modal').modal('hide');
};
</script>
